.menu {
    float:left;
    width:100%;
    background: #2a5885;
    overflow:hidden;
    position:relative;
}
.menu ul {
    float:left;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
.menu ul li {
    display:block;
    float:left;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}
.menu ul li a {
    display:block;
    padding:14px 16px;
    background: #2a5885;
    color:white;
    text-decoration:none;   /* Подчеркивание текста*/
}
.menu ul li a:hover {      /* Смена цвета пункта меню при наведении*/
    background:#369;
    color:white;
}